.places_title h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.articles article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.articles article h2 {
    font-size: 30px;
    text-align: center;
}
